{
	http_port 80
	auto_https disable_redirects

}

localhost:80 {
    log {
        level DEBUG
    }
    reverse_proxy /isalive mock-oauth2-server:8080
    reverse_proxy /test-tenant-client-id/* mock-oauth2-server:8080
    reverse_proxy /documents wiremock:8080
    reverse_proxy /client-credentials wiremock:8080
}
